if ! hash rustup 2>/dev/null; then
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
fi

if ! hash rustwasmc 2>/dev/null; then
yarn global add rustwasmc
asdf reshim
fi

if ! hash wasm-pack 2>/dev/null; then
curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
fi

if [ -f /etc/lsb-release ]; then
if [ ! -f /usr/lib/llvm-10/lib/libLLVM-10.so.1 ]; then
sudo apt-get install libllvm10 -y
fi
fi

version=1.50.0
if [ $(rustc --version|awk '{print $2}') != "$version" ];then
rustup default $version
fi
